/*公共*/
body{
  margin: 0;
}
.row > div{
  align-items: center;
}
.row > div:first-child{
  width: 50%;
  display: flex;
}
.row > div:last-child{
  width: 50%;
  display: flex;
}
.inputLable{
  width: 26vw;
  text-align: right;
}
.everybodyPublic{
  text-align: center;
  margin: 2vw;
}
@media screen and (min-width: 1028px){
  #app{
    font-size: 1.7vw;
  }
  .title{
    text-align: center;
    color: #f8621b;
  }
  .el-input {
    width: 20vw;
  }
  .row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
  }
}
@media screen and (max-width: 1028px) {
  #app{
    font-size: 2.4vw;
  }
  .title{
    text-align: center;
    color: #f8621b;
  }
  .el-input {
    width: 20vw;
  }
  .el-input .el-input__inner{
    width: 20vw;
    height: 7vw;
  }
  .row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
  }
}
